<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftSideNav" >

  <md-toolbar>
    <h1 class="md-toolbar-tools">Меню</h1>
  </md-toolbar>

  <md-content layout-margin class="string-center">

    <md-button ng-repeat="page in vm.pages"
               style="display: block"
               class="md-primary" ui-sref={{page.link}}
               ui-sref-active="active" >
               {{page.title}}
    </md-button>

    <md-button class="md-primary md-raised" ng-click="vm.toggleSideNav()" >Close Sidenav</md-button >
  </md-content>

</md-sidenav>
