<md-sidenav class="md-sidenav-left md-whiteframe-z2" md-component-id="leftSideNav" >

  <md-toolbar>
    <h1 class="md-toolbar-tools">Меню</h1>
  </md-toolbar>

  <md-content layout-margin">

    <md-button ng-repeat="page in vm.pages"
               style="display: block"
               class="md-primary" ui-sref={{page.link}}
               ui-sref-active="active"  >{{page.title}}
               ng-click="vm.toggleSelectPage(vm.page.link)"
    </md-button>

    <a style="display: block"  class="md-primary md-button md-ink-ripple" ng-click="vm.toggleSideNav()" >Close Sidenav</a>
  </md-content>

</md-sidenav>
