.signup {
  color: red;
}

.gridListdemoBasicUsage md-grid-list {
  margin: 8px; }

.gray {
  background: #f5f534; }

.green {
  background: #b9f6ca; }

 .yellow {
  background: #ffff8d; }

 .blue {
  background: #84ffff; }

.purple {
  background: #b388ff; }

.red {
  background: #ff8a80; }

.gridListdemoBasicUsage md-grid-tile {
  transition: all 400ms ease-out 50ms; }

.test {
  background-color:indianred;
}

.test2 {
  background-color:red;
}